*{
    padding: 0px;
    margin: 0px;
}

*:focus {
    outline: none;
}

::-webkit-scrollbar{
    width:12px;
}

::-webkit-scrollbar-thumb{
    background-color: #aaa;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #777;
}

#map {
    position: fixed !important;
    left: 320px;
    height: 100%;
    width: calc(100% - 320px);
    z-index: auto;
}

#setPos {
    text-align: center;
    left: 447px;
    top: 10px;
    width: 85px;
    height: 29.5px;
    position: fixed;
    background: white;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border: none;
    box-shadow: 0px 1px 3px -2px rgba(0, 0, 0, 0.596);
    color: #565656;
    font-weight: 400;
    font-family:  'Alegreya Sans';  
    transition: color 0.1s ease-out;
    transition: font-weight 0.1s ease-out;                
}

#setPos:hover {
   background: #EBEBEB;
   cursor: pointer;
   color: black;
}
#setPos:focus {
    transition: 0.5s;   
   font-weight: 500;
   color: black;
}

body {
    background: #000000;
    text-align: start;
    font-family: 'Alegreya Sans', 'Arial', sans-serif; 
    font-weight: 300;   
}

a {
    text-decoration: none;
    color: rgb(130, 57, 255);
    transition: all 0.05s ease-in;    
    cursor: pointer;
}

a:hover{
    color: rgb(78, 28, 167);
}

a.disabled{
    pointer-events: none;
    cursor: default;
    color: #ECEAE4;
}

li {
    color: #ECEAE4;
}

ul {
    list-style: none none;
}

#main {
    width: 319px;
    height: 100%;
    position: fixed;
    background: #212222;
    float: left;
    overflow: hidden;
    border-right: 1px solid #ECEAE4;
}

.filterWnd {
    display: flex;
    flex-direction: column;
    height: calc(100% - 115px);
    overflow: auto;
}

#search {

    height: 55px;
    background: #ff0000;
    overflow: hidden;
    box-shadow: -10px -20px 50px #D8BFD8 inset;
}

#search input {
    padding-left: 5px;
    width: 100%;
    height: 55px;
    font-size: 30px;
    border: none;
    background: #212222;
    box-shadow: inset 0px 10px 5px -10px #000000;
    color: #757575;
    outline:none;
}

.menu{
    display: flex;
    flex-direction: column;
    height: calc(100% - 115px);
    overflow: auto;
    border-top: 2px solid #ECEAE4;
}

.sub-menu {
    display: none;
    background: rgb(61, 26, 128);
    box-shadoW: 0px 35px 0px -30px rgb(48, 20, 100) inset,
                0px -34px 0px -30px rgb(48, 20, 100) inset;    
}

.menu-item, .sub-menu-item{
    height: 40px;
    font-size: 35px;
    padding: 10px 5px;
    cursor: pointer;
    transition: all 0.25s ease-in;
}

.menu-item{
    background: #212222;
}

.menu-item:hover{
    background: #181818;    
}

.menu-item.click{
    background: #181818;  
}

.sub-menu-item:hover{
    background: rgb(48, 20, 100);
    padding-left: 30px;    
}

.bottom-menu {
    width: 319px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: -10px 5px 40px #000000;
}

.bottom-item {
    background: #212222;
    height: 60px;
    width: 20%;
    font: medium 16px;
    border-top: 2px solid #ECEAE4;
    display: inherit;
    transition: all 0.2s ease-out;
}

.bottom-item:hover{
    background: #181818;
}

.bottom-item:hover .bottom-icons {
    margin: auto;
    width: 55px;
    height: 55px;
}

.bottom-ref {
    display: inherit;
    height: 100%;
    width: 100%;
}

.bottom-icons {
    margin: auto;
    width: 45px;
    height: 45px;
    transition: all 0.2s ease-out;   
}

#listHead{      
    position: fixed;
    text-align: center;
    color: #ECEAE4;
    width: 319px !important;
    margin-top: 0px;
    visibility: hidden;
    height: 40px;
    font-size: 35px;
    padding: 10px 0px;
    cursor: pointer;
    background: rgb(78, 28, 167);
    box-shadow: 0 -4px rgb(61, 26, 128) inset;
}

.list{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: calc(100% - 175px);
}

.listNode{
    position: relative;
    height: auto;
    font-size: 35px;
    padding: 5px 5px;
    cursor: pointer;
}

.listNodeBorder{
    margin-left: -5px;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, #ECEAE4, #212222);
}

.nodeName{
    margin-bottom: 2px;
}

.nodeRating{
    position: absolute;
    height: 18px;
}

.nodeRatingValue{
    margin: 0px 2px;
    height: 18px;
    background: #FFC000;
}

.nodePhone{
    margin-top: 5px;
    font-size: 25px;
    font-style: italic;
}

.imgPhone{
    height: 20px;
    width: 20px;
    margin: 5px 15px 0px 2px;
    float: left;
}

#infoWindow{
    position: fixed;
    height: 100%;
    width: calc(100% - 320px);
    left: 320px;
    background: #212222;
    z-index: 0;
    overflow: hidden;
    visibility: hidden;  
}

#identifyWnd{
    height: 0px;
    width: 0px;
    visibility: hidden;
}

.titleWnd{
    margin-top: 5px;
    font-size: 70px;
    color: #ECEAE4;
    font-weight: 400;
    text-align: center;
}

#rateWnd{
    top: 90px;
    margin-left: calc(50% - 115px);
    margin-bottom: 15px;
    height: 40px;
    background: #FFC000;
}

#starsWnd{
    height: 40px;
}

#hideBtn, #showBtn{
    top: 20px;
    right: 20px;
    position: absolute;
    height: 40px;
    width: 95px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    color: white;
    background: rgb(78, 28, 167);
    box-shadow: 0 -3px rgb(61, 26, 128) inset;
    transition: 0.2s;
    z-index: 1;
}

#hideBtn:hover, #showBtn:hover{
    background: rgb(61, 26, 128);
}

#hideBtn:active, #showBtn:active{
    color: rgb(52, 22, 107);
    background: white;
    box-shadow: 0 -3px rgb(184, 184, 184) inset;
    transition: 0.2s
}

#gallery{
    position: relative;
    float: left;
    height: calc(96% - 130px);
    width: 42%;
    background: #757575;
    background-size: cover;
    -moz-background-size: 100%;
    margin-left: 3%;
    overflow: hidden;
    box-shadow: 0px 0px 0px 5px #181818 inset;
}

#placeInfoWnd{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0px 10px 10px;
    width: calc(51% - 20px);
    height: calc(24% - 30px);
    margin: 10px 0px 1% 46%;
    color: white;
    font-size: 27px;
    font-weight: 300;    
    border: 5px solid #181818 ;
    overflow: auto;
}

#placeInfoWnd img{
    height: 27px;
    margin-right: 25px;
}

#placeInfoWnd div, label{
    margin-left: 10px;
}

.container {
    position: relative;
    cursor: pointer;
    font-size: 25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.afterCheckbox{
    padding-left: 45px;
}
  
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
  
.checkmark {
    position: absolute;
    bottom: 7px;
    left: -5px;
    height: 20px;
    width: 20px;
    background-color: #eee;
}
  
.container:hover input ~ .checkmark {
    background-color: #ccc;
}
  
.container input:checked ~ .checkmark {
    background-color: rgb(78, 28, 167);
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.container input:checked ~ .checkmark:after {
    display: block;
}
  
.container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#photoWnd {
    height: 550px;
    width: 485px;
}

#reviews{
    display: flex;
    flex-direction: column;
    width: 51%;
    height: calc(70% - 130px);
    color: white;
    font-size: 25px;
    font-weight: 300;
    margin-left: 46%;
    background: #181818;
}

#miniHeadWnd{
    text-align: center;
    height: auto;
    width: 100%;
    font-weight: 400;    
    background: rgb(78, 28, 167);
    box-shadow: 0 -5px rgb(61, 26, 128) inset;    
}

#reviewsWnd{
    overflow: auto;
}

.review{
    margin-bottom: 5px;
    padding: 10px;    
    background: #181818;
    font-size: 30px;
}

.review img{
    height: 30px;
}

.filterWnd {
    margin-top: 60px;
}

.slider {
    /* margin: 15px 5px 5px 5px; */
    width:230px;
    height:11px;
    background:url(slider-bg.png);
    position: relative;
    margin: 0 auto;
    padding: 0 10px;
}

.sliders-input{
    border:0; 
    width: 100px;
    color:#ECEAE4; 
    background: #212222;
    font-size: 18px;
}

#checkBoxOpen, #checkBoxPhoto{
    position: absolute;
    top: 6px;
    left: 5px;
    float: left;
}

.afterCheckboxFilter{
    margin-top: 5px;
    color: #ECEAE4;
    font-size: 20px;
    padding-left: 45px;
}

#userReview {
    position: inherit;
    width: 70%;
    height: 40px;
    font-size: 14px;
    overflow: hidden;
}

#leaveReview {
    position: inherit;
    width: 20%;
    height: 40px;
    font-size: 14px;
}