*{
    padding: 0px;
    margin: 0px;
}

#map {
    position: fixed !important;
    left: 320px;
    height: 100%;
    top: 0px;
    width: calc(100% - 320px);
    z-index: auto;
}

body {
    background: #000000;
    text-align: start;
    font-family: 'Jura', 'Arial', sans-serif;    
}

#hideBtn {
    position: inherit;
    width: 100px;
    height: 30px;
    top: 10px;
    left: 93%;
    font-size: 15px
}

#showBtn {
    position: inherit;
    width: 100px;
    height: 30px;
    top: 10px;
    left: 93%;
    font-size: 15px;
    z-index: 5
}

#infoWndTitle {
    left: 319px;
    font-size: 40px;
    color: #ECEAE4;
    padding: 0px 5px;
}

a {
    text-decoration: none;
}

li {
    color: #ECEAE4;
}

ul {
    list-style: none none;
}

#main {
    width: 319px;
    height: 100%;
    position: fixed;
    background: #212222;
    float: left;
    overflow: hidden;
    border-right: 1px solid #ffffff;
}

#search {
    height: 55px;
    /* border-bottom: 1px solid #ffffff; */
    background: #ff0000;
    overflow: hidden;
    box-shadow: -10px -20px 50px #D8BFD8;
}

#search input {
    padding-left: 5px;
    width: 100%;
    height: 55px;
    font-size: 30px;
    border: none;
    background: #212222;
    box-shadow: inset 0px 10px 5px -10px #000000;
    color: #757575;
    outline:none;
}

#infoWindow {
    position: fixed !important;
    left: 320px;
    height: 100%;
    top: 0px;
    width: calc(100% - 360px);
    z-index: auto;
}

.menu{
    display: flex;
    flex-direction: column;
    height: calc(100% - 115px);
    overflow: auto;
}

.sub-menu {
    display: none;
}

.menu-item, .sub-menu-item{
    margin-bottom: -1px;
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    height: 40px;
    font-size: 35px;
    padding: 10px 5px;
    cursor: pointer;
    background: linear-gradient(to bottom, #212222, #1a1c1f);
    transition: all 0.25s ease-in;
}

.menu-item:hover{
    box-shadow: 55px 0px 40px -30px #0047b1 inset;   
    padding-left: 30px;         
}

.sub-menu-item{
    background: linear-gradient(to bottom, #0047b1, #004172);
}

.sub-menu-item:hover{
    box-shadow: 55px 0px 40px -30px #212222 inset;
    padding-left: 30px;    
}

.bottom-menu {
    width: 320px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: -20px 10px 50px #000000;
}

.bottom-item {
    background: #212222;
    height: 60px;
    width: 20%;
    font: medium 16px;
    border: 1px solid #ffffff;
    display: inherit;
    transition: all 0.2s ease-out;  
}

.bottom-item:hover .bottom-icons {
    margin: auto;
    width: 55px;
    height: 55px;
}

.bottom-ref {
    display: inherit;
    height: 100%;
    width: 100%;
}

.bottom-icons {
    margin: auto;
    width: 45px;
    height: 45px;
    transition: all 0.2s ease-out;   
}

#listHead{
    box-shadow: 0px 0px 10px 0px #000000 inset;       
    position: fixed;
    text-align: center;
    color: #ECEAE4;
    width: 319px !important;
    margin-top: 0px;
    visibility: hidden;
    height: 40px;
    font-size: 35px;
    padding: 10px 0px;
    cursor: pointer;
    background: linear-gradient(to bottom, #212222, #1a1c1f);    
}

.list{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: calc(100% - 175px);
}

.listNode{
    border-bottom: 1px solid #ffffff;
    height: auto;
    font-size: 35px;
    padding: 10px 5px;
    cursor: pointer;
    background: linear-gradient(to bottom, #212222, #1a1c1f);
}

.nodePhone{
    font-size: 25px;
}