*{
    padding: 0px;
    margin: 0px;
}

#map {
    position: fixed !important;
    left: 320px;
    height: 100%;
    width: calc(100% - 320px);
    z-index: auto;
}

body {
    background: #000000;
    text-align: start;
    font-family: 'Alegreya Sans', 'Arial', sans-serif; 
    font-weight: 300;   
}

a {
    text-decoration: none;
}

li {
    color: #ECEAE4;
}

ul {
    list-style: none none;
}

#main {
    width: 319px;
    height: 100%;
    position: fixed;
    background: #212222;
    float: left;
    overflow: hidden;
    border-right: 1px solid #ECEAE4;
}

#search {

    height: 55px;
    background: #ff0000;
    overflow: hidden;
    box-shadow: -10px -20px 50px #D8BFD8 inset;
}

#search input {
    padding-left: 5px;
    width: 100%;
    height: 55px;
    font-size: 30px;
    border: none;
    background: #212222;
    box-shadow: inset 0px 10px 5px -10px #000000;
    color: #757575;
    outline:none;
}

.menu{
    display: flex;
    flex-direction: column;
    height: calc(100% - 115px);
    overflow: auto;
    border-top: 1px solid #ECEAE4;
}

.sub-menu {
    display: none;
    background: linear-gradient(to bottom, rgb(78, 28, 167), rgb(61, 26, 128));
    box-shadoW: 0px 30px 30px -30px black inset,
                0px -20px 30px -30px black inset;    
}

.menu-item, .sub-menu-item{
    border-bottom: 1px solid #ECEAE4;
    height: 40px;
    font-size: 35px;
    padding: 10px 5px;
    cursor: pointer;
    transition: all 0.25s ease-in;
}

.menu-item{
    background: linear-gradient(to bottom, #212222, #1a1c1f);
}

.menu-item:hover{
    box-shadow: 55px 0px 40px -30px rgb(87, 32, 182) inset;   
    padding-left: 30px;         
}

.sub-menu-item:hover{
    box-shadow: 55px 0px 40px -30px #212222 inset;
    padding-left: 30px;    
}

.bottom-menu {
    width: 320px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: -10px 5px 40px #000000;
}

.bottom-item {
    background: #212222;
    height: 60px;
    width: 20%;
    font: medium 16px;
    border: 1px solid #ECEAE4;
    display: inherit;
    transition: all 0.2s ease-out;  
}

.bottom-item:hover .bottom-icons {
    margin: auto;
    width: 55px;
    height: 55px;
}

.bottom-ref {
    display: inherit;
    height: 100%;
    width: 100%;
}

.bottom-icons {
    margin: auto;
    width: 45px;
    height: 45px;
    transition: all 0.2s ease-out;   
}

#listHead{      
    position: fixed;
    text-align: center;
    color: #ECEAE4;
    width: 319px !important;
    margin-top: 0px;
    visibility: hidden;
    height: 40px;
    font-size: 35px;
    padding: 10px 0px;
    cursor: pointer;
    background: rgb(78, 28, 167);
    box-shadow: 0 -4px rgb(61, 26, 128) inset;
}

.list{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: calc(100% - 175px);
}

.listNode{
    position: relative;
    border-bottom: 1px solid #ECEAE4;
    height: auto;
    font-size: 35px;
    padding: 5px 5px;
    cursor: pointer;
    background: #212222;
}

.nodeName{
    margin-bottom: 2px;
}

.nodeRating{
    position: absolute;
    height: 18px;
}

.nodeRatingValue{
    margin: 0px 2px;
    height: 18px;
    background: #FFC000;
}

.nodePhone{
    margin-top: 5px;
    font-size: 25px;
    font-style: italic;
}

.imgPhone{
    height: 20px;
    width: 20px;
    margin: 5px 15px 0px 2px;
    float: left;
}

.infoWindow{
    position: fixed;
    height: 100%;
    width: calc(100% - 320px);
    left: 320px;
    background: #212222;
    z-index: 0;
    overflow: auto;   
    visibility: hidden;
}

.titleWnd{
    margin-top: 5px;
    font-size: 70px;
    color: #ECEAE4;
    font-weight: 400;
    text-align: center;
}

.rateWnd{
    top: 90px;
    margin-left: calc(50% - 115px);
    margin-bottom: 15px;
    height: 40px;
    background: #FFC000;
}

.starsWnd{
    height: 40px;
}

.hideBtn, .showBtn{
    top: 20px;
    right: 20px;
    position: inherit;
    height: 40px;
    width: 95px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    color: white;
    background: rgb(78, 28, 167);
    box-shadow: 0 -3px rgb(61, 26, 128) inset;
    transition: 0.2s;
    z-index: 1;
}

.hideBtn:hover, .showBtn:hover{
    background: rgb(61, 26, 128);
}

.hideBtn:active, .showBtn:active{
    color: rgb(52, 22, 107);
    background: white;
    box-shadow: 0 -3px rgb(184, 184, 184) inset;
    transition: 0.2s
}

.gallery{
    position: relative;
    float: left;
    height: calc(75% + 32px);
    width: 40%;
    background: #757575;
    margin-left: 50px;
    border: 1px #ECEAE4 solid;
}

.moreWndLine{
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: rgb(78, 28, 167);
    box-shadow: 0 -5px rgb(61, 26, 128) inset, 0 -5px #0000008e;
}

.moreWnd{
    margin-left: calc(50% - 17px);
    height: 34px;
}

.placeInfo{
    padding: 3px;
    width: 50%;
    height: 20%;
    margin-left: calc(40% + 70px);
    margin-bottom: 20px;
    color: white;
    font-size: 35px;
    box-shadow: 0px 0px 10px  #000000 inset;
}

.container {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
  
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}
  
.container:hover input ~ .checkmark {
    background-color: #ccc;
}
  
.container input:checked ~ .checkmark {
    background-color: rgb(78, 28, 167);
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.container input:checked ~ .checkmark:after {
    display: block;
}
  
.container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.reviews{
    padding: 3px;
    bottom: 20px;
    width: 50%;
    height: 55%;
    color: white;
    font-size: 35px;
    margin-left: calc(40% + 70px);
    box-shadow: 0px 0px 10px  #000000 inset;
}