*{
    padding: 0px;
    margin: 0px;
}

:root{
    --color0: #181818;
    --color1: #212222; 
    --color2: rgb(130, 57, 255);
    --color3: rgb(78, 28, 167);
    --color4: rgb(61, 26, 128);
    --color5: rgb(48, 20, 100);
    --textColor: #ECEAE4;
    --fontFamily: 'Rubik';
}

*:focus {
    outline: none;
}

::-webkit-scrollbar{
    width:12px;
}

::-webkit-scrollbar-thumb{
    background-color: #aaa;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #777;
}

#map {
    position: fixed !important;
    left: 320px;
    height: 100%;
    width: calc(100% - 320px);
    z-index: -1;
}

#setPos {
    text-align: center;
    left: 447px;
    top: 10px;
    width: 100px;
    height: 29.5px;
    position: fixed;
    background: white;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border: none;
    box-shadow: 0px 1px 3px -2px rgba(0, 0, 0, 0.596);
    color: #565656;
    font-weight: 400;
    font-family: 'Arial';  
    transition: color 0.1s ease-out;
    transition: 0.1s ease-out;                
}

#setPos:hover {
   background: #EBEBEB;
   cursor: pointer;
   color: black;
}
#setPos:focus {
    transition: 0.5s;   
   font-weight: 500;
   color: black;
}

body {
    background: #000000;
    text-align: start;
    font-family: var(--fontFamily);
    font-weight: 300;   
}

a {
    text-decoration: none;
    color: var(--color2);
    transition: all 0.05s ease-in;    
    cursor: pointer;
}

a:hover{
    color: var(--color3);
}

a.disabled{
    pointer-events: none;
    cursor: default;
    color: var(--textColor);
}

li {
    color: var(--textColor);
}

ul {
    list-style: none none;
}

#main {
    width: 319px;
    height: 100%;
    position: fixed;
    background: var(--color1);
    float: left;
    overflow: hidden;
    border-right: 1px solid var(--textColor);
}

#filterWnd {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 115px);
    overflow: auto;
}

#search {

    height: 55px;
    background: #ff0000;
    overflow: hidden;
    box-shadow: -10px -20px 50px #D8BFD8 inset;
}

#search input {
    padding-left: 5px;
    width: 100%;
    height: 55px;
    font-size: 30px;
    border: none;
    background: var(--color1);
    box-shadow: inset 0px 10px 5px -10px #000000;
    color: #757575;
    outline:none;
}

.menu{
    display: flex;
    flex-direction: column;
    height: calc(100% - 115px);
    overflow: auto;
    border-top: 2px solid var(--textColor);
}

.sub-menu {
    display: none;
    background: var(--color4);
    box-shadoW: 0px 35px 0px -30px var(--color5) inset,
                0px -34px 0px -30px var(--color5) inset;    
}

.menu-item, .sub-menu-item{
    height: 40px;
    font-size: 35px;
    padding: 10px 5px;
    cursor: pointer;
    transition: all 0.25s ease-in;
}

.menu-item{
    background: var(--color1);
}

.menu-item:hover{
    background: var(--color0);    
}

.menu-item.click{
    background: var(--color0);  
}

.sub-menu-item:hover{
    background: var(--color5);
    padding-left: 30px;    
}

.bottom-menu {
    width: 319px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: -10px 5px 40px #000000;
}

.bottom-item {
    background: var(--color1);
    height: 60px;
    width: 20%;
    font: medium 16px;
    border-top: 2px solid var(--textColor);
    display: inherit;
    transition: all 0.2s ease-out;
}

.bottom-item:hover{
    background: var(--color0);
}

.bottom-item:hover .bottom-icons {
    margin: auto;
    width: 55px;
    height: 55px;
}

.bottom-ref {
    display: inherit;
    height: 100%;
    width: 100%;
}

.bottom-icons {
    margin: auto;
    width: 45px;
    height: 45px;
    transition: all 0.2s ease-out;   
}

#listHead{      
    position: fixed;
    text-align: center;
    color: var(--textColor);
    width: 319px !important;
    margin-top: 0px;
    visibility: hidden;
    height: 40px;
    font-size: 35px;
    padding: 10px 0px 10px 0px;
    cursor: pointer;
    background: var(--color3);
    box-shadow: 0 -4px var(--color4) inset;
}

.list{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: calc(100% - 175px);
}

.listNode{
    position: relative;
    height: auto;
    font-size: 30px;
    padding: 5px 5px;
    cursor: pointer;
}

.listNodeBorder{
    margin-left: -5px;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, var(--textColor), var(--color1));
}

.nodeName{
    margin-bottom: 2px;
}

.nodeRating{
    position: absolute;
    height: 18px;
}

.nodeRatingValue{
    margin: 0px 2px;
    height: 18px;
    background: #FFC000;
}

.nodePhone{
    margin: 10px 0px 5px 0px ;
    font-size: 20px;
    font-style: italic;
}

.imgPhone{
    height: 20px;
    width: 20px;
    margin: 2px 5px 0px 2px;
    float: left;
}

#infoWindow{
    position: fixed;
    height: 100%;
    width: calc(100% - 320px);
    left: 320px;
    background: var(--color1);
    z-index: 0;
    overflow: hidden;
    display: none;  
}

#identifyWnd{
    height: 0px;
    width: 0px;
    visibility: hidden;
}

.titleWnd{
    margin-top: 5px;
    font-size: 55px;
    color: var(--textColor);
    font-weight: 400;
    text-align: center;
}

#rateWnd{
    top: 90px;
    margin-left: calc(50% - 115px);
    margin-bottom: 15px;
    height: 40px;
    background: #FFC000;
}

#starsWnd{
    height: 40px;
}

#hideBtn, #showBtn{
    padding: 2px 0px -2px 0px;
    top: 20px;
    right: 20px;
    position: absolute;
    height: 40px;
    width: 95px;
    border: none;
    cursor: pointer;
    font-size: 17px;
    font-weight: 400;
    color: var(--textColor);
    background: var(--color3);
    box-shadow: 0 -3px var(--color4) inset;
    transition: 0.2s;
    z-index: 1;
}

#showBtn{
    z-index: 0;
}

#hideBtn:hover, #showBtn:hover{
    background: var(--color4);
    font-size: 20px;
}

#hideBtn:active, #showBtn:active{
    color: var(--color5);
    background: white;
    box-shadow: 0 -3px rgb(184, 184, 184) inset;
    transition: 0.2s
}

#gallery{
    position: relative;
    float: left;
    height: calc(96% - 140px);
    width: calc(42% - 10px);
    background: #757575;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    margin: 5px 0px 0px calc(3% + 5px);
    overflow: hidden;
    box-shadow: 0px 0px 0px 5px var(--color0);
}

#placePhoto{
    width: 100%;
    height: 100%;
}

#placeInfoWnd{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0px 10px 10px;
    width: calc(51% - 20px);
    height: calc(24% - 30px);
    margin: 10px 0px 1% 46%;
    color: var(--textColor);
    font-size: 25px;
    font-weight: 300;    
    border: 5px solid var(--color0) ;
    overflow: auto;
}

#placeInfoWnd img{
    height: 27px;
    margin-right: 25px;
}

#placeInfoWnd div, label{
    margin-left: 10px;
}

.container {
    position: relative;
    cursor: pointer;
    font-size: 25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.afterCheckbox{
    padding-left: 45px;
}
  
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
  
.checkmark {
    position: absolute;
    bottom: 7px;
    left: -5px;
    height: 20px;
    width: 20px;
    background-color: #eceae4;
}
  
.container:hover input ~ .checkmark {
    background-color: var(--textColor);
}
  
.container input:checked ~ .checkmark {
    background-color: var(--color3);
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.container input:checked ~ .checkmark:after {
    display: block;
}
  
.container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#reviews{   
    display: flex;
    flex-direction: column;
    width: 51%;
    height: calc(70% - 132px);
    color: var(--textColor);
    font-size: 30px;
    font-weight: 300;
    font-family: 'Garamond';
    margin-left: 46%;
    background: var(--color0);
}

#miniHeadWnd{
    text-align: center;
    height: auto;
    width: 100%;
    font-weight: 400;    
    background: var(--color3);
    box-shadow: 0 -5px var(--color4) inset;    
}

#reviewsWnd{
    overflow: auto;
}

.review{
    margin-bottom: 5px;
    padding: 10px;    
    background: var(--color0);
    font-size: 23px;
}

.review img{
    height: 30px;
}

.slider {
    width:230px;
    height:11px;
    background:url(slider-bg.png);
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 0 10px;
}

.sliders-input{
    border:0; 
    width: 100px;
    color: var(--textColor); 
    background: var(--color1);
    font-size: 18px;
}

#checkBoxOpen, #checkBoxPhoto{
    position: absolute;
    top: 6px;
    left: 5px;
    float: left;
}

.afterCheckboxFilter{
    margin-top: 5px;
    color: var(--textColor);
    font-size: 20px;
    padding-left: 45px;
}

#reviewForm{
    padding-top: 6px;
    width: 51%;    
    height: 0px;
    margin-left: 46%;    
    overflow: hidden;
    background: var(--color0);
}

#userReview {
    padding: 0px 10px;
    margin: 2px 3px 2px 6px;
    width: calc(100% - 195px);
    height: 45px;
    font-size: 20px;
    background: #eceae4;
    border: none;
    outline: none;
    overflow: hidden;
}

#leaveReview{
    margin: 2px 0px 7px 3px;
    width: 150px;
    height: 50px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    color: var(--textColor);
    background: var(--color3);
    box-shadow: 0 -3px var(--color4) inset;
    transition: 0.2s;
}

#leaveReview:hover{
    background: var(--color4);
}

#leaveReview:active{
    color: var(--color5);
    background: #eceae4;
    box-shadow: 0 -3px rgb(184, 184, 184) inset;
    transition: 0.2s
}

#settingsWnd{
    margin: 5px 0px 0px 10px;
    font-size: 30px;
    color: var(--textColor);
    z-index: 100;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1000px;
    overflow: auto;
}

#settingsWnd > div{
    margin-top: 10px;
}

#settingsWnd label{
    margin-right: 15px;   
    display: block;
    position: relative;
}

#settingsWnd input + span{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-position: center;
}

#langChoose, #themeChoose{
    position: relative;
    display: flex;
    flex-direction: column;
}

#langChoose > div{
    margin: 10px 0px 10px -5px;
}

#langChoose label{
    margin-top: 3px;
    float: left;
    width: 50px;
    height: 30px;
}

#themeChoose label{
    margin: 10px 0px 10px 5px;
    width: 200px;
    height: 50px;
}

#settingsWnd input:checked + span{
    box-shadow: 0px 0px 0px 2px #eee; 
}

#settingsWnd img{
    width: 100%;
    height: 100%;
}