* {
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #344638;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h2 {
  text-align: center;
  margin: 20px auto;
  color: #fff;
}

.accordion-menu {
    width: 300px;
    max-width: 300px;
    margin: inherit;
    background: #344638;
    border-radius: 4px;
    border-bottom: 1px solid #FFF;
    border-top: 1px solid #FFF;
    border-right: 1px solid #FFF;
    border-left: 1px solid #FFF;
}

.accordion-menu li.open .dropdownlink {
  color: #FFF;
}
.accordion-menu li.open .dropdownlink .fa-chevron-down {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.accordion-menu li:last-child .dropdownlink {
  border-bottom: 1px;
}

.dropdownlink {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 45px;
    font-size: 18px;
    border-bottom: 1px solid #fff;
    color: #fff;
    position: relative;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}
.dropdownlink i {
  position: absolute;
  top: 17px;
  left: 16px;
}
.dropdownlink .fa-chevron-down {
  right: 12px;
  left: auto;
}

.submenuItems {
    display: none;
    background: #344638;
}
.submenuItems li {
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  border-right: 2px solid #FFF;
  border-left: 2px solid #FFF;
}

.submenuItems a {
  display: block;
  color: #FFF;
  padding: 12px 12px 12px 45px;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.submenuItems a:hover {
  background-color: #CDDC39;
  color: #fff;
}



.bottom-image {
    width: 50px;
    height: 50px;
    background-color: #344638;
    border-bottom: 1px solid #FFF;
    border-top: 1px solid #FFF;
    border-right: 1px solid #FFF;
    border-left: 1px solid #FFF;
}

.bottom-menu {
    height: 60px;
    width: 300px;
    display: flex;
    background-color: #344638;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    bottom: 0px;
    position:fixed;
}

.box {
    margin: auto;
    width: inherit;
    height: 50px;
    border-bottom: 1px solid #FFF;
    border-top: 1px solid #FFF;
    border-right: 1px solid #FFF;
    border-left: 1px solid #FFF;
}

.container-1 {
    width: 150px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.container-1 input#search {
        width: 300px;
        height: 50px;
        background: #344638;
        border: none;
        font-size: 10pt;
        float: left;
        color: #63717f;
        padding-left: 45px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-transition: background .55s ease;
        -moz-transition: background .55s ease;
        /*-ms-transition: background .55s ease;*/
        -o-transition: background .55s ease;
        transition: background .55s ease;
    }

.container-1 input#search::-webkit-input-placeholder {
color: #fff;
}

.container-1 input#search:-moz-placeholder { /* Firefox 18- */
color: #fff;
}

.container-1 input#search::-moz-placeholder { /* Firefox 19+ */
color: #fff;
}

.container-1 input#search:-ms-input-placeholder {
color: #fff;
}

.container-1 .icon {
        position: absolute;
        top: 50%;
        margin-left: 17px;
        margin-top: 17px;
        z-index: 1;
        color: #4f5b66;
}

.map-show{
    background-color:cornflowerblue;
    position:fixed;
    left:302px;
    height: 100%;
    top:0px;
    width:100%;
}

.item{
    width:300px;
    position:initial;
    height: 70px;
}

.header{
    font-size: larger;
    color:#fff;
    width:inherit
}

.address{
    color:#FFF;
    position:initial;
    left: 5px;
}

.works{
    color:#fff;
    right:5px;
}

.bigheader{
    width:300px;
    height:50px;
    color:#fff;
}