* {
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #212222;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h2 {
  text-align: center;
  margin: 20px auto;
  color: #fff;
}

.accordion-menu {
    width: 23.5%;
    max-width: 23.5%;
    margin: inherit;
    border-bottom: 1px solid #FFF;
    border-top: 1px solid #FFF;
}

.accordion-menu li.open .dropdownlink {
  color: #FFF;
}
.accordion-menu li.open .dropdownlink .fa-chevron-down {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.accordion-menu li:last-child .dropdownlink {
  border-bottom: 1px;
}

.dropdownlink {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 45px;
    font-size: 18px;
    border-bottom: 1px solid #fff;
    color: #fff;
    position: relative;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}
.dropdownlink i {
  position: absolute;
  top: 17px;
  left: 16px;
}
.dropdownlink .fa-chevron-down {
  right: 12px;
  left: auto;
}

.submenuItems {
    display: none;
}
.submenuItems li {
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
}

.submenuItems a {
  display: block;
  color: #FFF;
  padding: 12px 12px 12px 45px;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.submenuItems a:hover {
  background-color: #CDDC39;
  color: #fff;
}



.bottom-image {
    width: 50px;
    height: 50px;
    border-bottom: 1px solid #FFF;
    border-top: 1px solid #FFF;
    border-right: 1px solid #FFF;
    border-left: 1px solid #FFF;
}

.bottom-menu {
    height: 60px;
    width: 23.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    bottom: 0px;
    position:fixed;
}

.box {
    margin: 0;
    width: 23.5%;
    height: 50px;
    border-bottom: 1px solid #FFF;
    border-top: 1px solid #FFF;
}

.container-1 {
    width: 150px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    background-color: #212222;
    background:#212222;
}

#map{
    position: fixed !important;
    left:23.6%;
    height: 100%;
    top:0px;
    width:76.5%;
}

.item{
    width:300px;
    position:initial;
    height: 70px;
}

.header{
    font-size: larger;
    color:#fff;
    width:inherit
}

.address{
    color:#FFF;
    position:initial;
    left: 5px;
}

.works{
    color:#fff;
    right:5px;
}

.bigheader{
    width:300px;
    height:50px;
    color:#fff;
}

* {
    box-sizing: border-box;
}

form {
    position: relative;
    width: 300px;
    margin: 0 auto;
    background: #212222;
}

input, button {
    border: none;
    outline: none;
    background: transparent;
}

input {
    width: 100%;
    height: 42px;
    padding-left: 15px;
    color: #fff;
}

button {
    height: 42px;
    width: 42px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

    button:before {
        content: "\f178";
        font-family: FontAwesome;
        font-size: 20px;
        color: #fff;
    }